* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'source-sans-pro', 'Spin-Cycle-OT';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;

}
.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}


.banner {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}

.banner1 {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.banner1  H1 {
    padding: 20px;
    font-size: 120px;
    font-weight: bold;
}

.SGL {
    align-self: center;
}

.banner1 .SGL p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    
}

.banner1 button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;  
    margin-bottom: 200px;
    border-radius: 30px;
    background-color: #C271FF;
    color: #ffff;
    font-size: 14px;
    font-weight: lighter;
    max-width: fit-content;
    align-self: center;
    justify-self: center;
}

#Learn {
    color: #C271FF;
}

.banner2 {
        display: flex;
        align-self: center;
        justify-self: center;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
      
.banner2 h2 {
    align-self: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.banner2 .pros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    flex-wrap: wrap; 
}

.profiles {
    max-width: 200px;
    padding: 20px;
    margin: 20px;
}

.profiles h3 {
    text-align: center;
}

.profiles p {
    text-align: center;
}

.wrapper {
    background-image: url(/Users/youssef/Documents/alx_html_css/html_advanced/ressources/images/background.png);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
    flex-wrap: wrap;
}

.quote1 {
    margin-top: 100px;
    margin-bottom: 100px;
    align-self: center;
    padding-left: 40px;
    color: #ffff;
}

.quote1 p {
    font-size: 22px;
}

.quote1 span {
    font-size: 22px;
    font-weight: bold ;
}

.quote1 blockquote {
    font-weight: lighter;
    font-size: 20px;
}

.videos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.videos-section .title {
    align-self: center;
    margin-top: 50px;
}

.videos-section .title p {
    font-weight: lighter;
}

.videos-section .title span {
    color: #C271FF;
    font-weight: bold;
}

.videoblock {
    height: 335px;
    width: 255px;
    margin-left: 40px;
    margin-top: 50px;
}

span {
    color: #C271FF;
    font-weight: bold;   
}

.membershipsect {
    background-color: #071629;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.membershipsect h1 {
align-self: center;
margin-top: 50px;
}

.membershipcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-top: 80px;
}

.membershipcontainer div {
    text-align: center;
    margin-right: 60px;
}

.membershipcontainer p {
    max-width: 212px;
}


.membershipsect button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;  
    margin-bottom: 100px;
    border-radius: 30px;
    background-color: #C271FF;
    color: #ffff;
    font-size: 14px;
    font-weight: lighter;
    max-width: fit-content;
    align-self: center;
    justify-self: center;
}



.FAQ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#faqh1 {
    font-size: 60px;
    margin-top: 40px;
    align-self: center;
} 
.titlefaq {
    margin-bottom: 40px;
}

.row-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0 ;
    flex-wrap: wrap;

}

.item-block {
    width: 350px;
    height: 242px;
    margin-right: 100px;
    align-self: center;
    
}


footer {
    background-color: #071629;

}

  .footlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
  }

  .chead p{
    color: #555454;
    font-size: 12px;
    align-items: center;
    align-self: center;
    text-align: center;
    padding-bottom: 5px;
  }


.socials {
    list-style: none;
}

.socials li {
    display: inline-block;
    padding: 0 5px;
}

